<style type="text/css">body { padding-top: 25px;}</style>
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Campy CGF40 analytics using Shiny</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="?tool=dataview">View</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">EDAT<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="?tool=singleMean">Single mean</a></li>
              <li><a href="?tool=compareMeans">Compare means</a></li>
              <li><a href="?tool=singleProp">Single proportion</a></li>
              <li><a href="?tool=compareProps">Compare proportions</a></li>
              <li><a href="?tool=crosstab">Cross-tab</a></li>
              <li><a href="?tool=correlation">Correlation</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Regression<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="?tool=regression">Linear (OLS)</a></li>
              <li><a href="?tool=glmreg">Generalized (GLM)</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Factor<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-value="preFactor">Pre-factor analysis</a></li>
              <li><a href="#" data-value="factor">Factor analysis</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clustering<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="?tool=hclustering">Hierarchical</a></li>
              <li><a href="?tool=kmeansClustering">K-means</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conjoint<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="?tool=conjointProfiles">Create profiles</a></li>
              <li><a href="?tool=conjoint">Conjoint analysis</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
