<style type="text/css">body { padding-top: 25px;}</style>
<div class="navbar navbar-fixed-top navbar-inverse" id="tool" data-nav-value="dataview">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#" data-value="dataview"><i>Campylobacter In Silico</i> Typing Visualization Tool</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="#" data-value="dataview">View</a></li>
<!--           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">EDAT<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" data-value="singleMean">Single mean</a></li>
              <li><a href="#" data-value="compareMeans">Compare means</a></li>
              <li><a href="#" data-value="singleProp">Single proportion</a></li>
              <li><a href="#" data-value="compareProps">Compare proportions</a></li>
              <li><a href="#" data-value="crosstab">Cross-tab</a></li>
              <li><a href="#" data-value="correlation">Correlation</a></li>
            </ul>
          </li> -->

<!--           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Regression<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-value="regression">Linear (OLS)</a></li>
              <li><a href="#" data-value="glmreg">Generalized (GLM)</a></li>
            </ul>
          </li> -->

<!--           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cluster<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-value="hclustering">Hierarchical</a></li>
              <li><a href="#" data-value="kmeansClustering">K-means</a></li>
            </ul>
          </li> -->

<!--           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Factor<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-value="preFactor">Pre-factor analysis</a></li>
              <li><a href="#" data-value="factor">Factor analysis</a></li>
            </ul>
          </li> -->

<!--           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Factor<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-value="preFactor">Pre-factor analysis</a></li>
              <li><a href="#" data-value="factor">Factor analysis</a></li>
            </ul>
          </li> -->
<!-- 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conjoint<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-value="conjointProfiles">Create profiles</a></li>
              <li><a href="#" data-value="conjoint">Conjoint analysis</a></li>
            </ul>
          </li> -->

        </ul>
      </div>
    </div>
  </div>
</div>
